$font1: normal 500 18px/150% "Poppins";
$font2: normal 400 14px/150% "Poppins";
$font3: italic 400 14px/150% "Poppins";
$fcolor1: rgba(0, 0, 0, 1);
$fcolor2: rgba(62, 34, 3, 0.82);
$fcolor3: rgba(0, 0, 0, 0.8);
$fcolor4: rgba(255, 255, 255, 1);
$fcolor5: rgba(255, 255, 255, 0.9);
$fcolor6: rgba(255, 255, 255, 0.6);
$bgcolor1: rgba(253, 180, 97, 0.82);