@import "_normalize.scss";
@import "_variables";
@import "block/header.scss";
@import "block/keeping.scss";
@import "block/finding.scss";
@import "block/volunteer.scss";
@import "block/non-profit.scss";
@import "block/footer.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    font: $font1;
    color: $fcolor1;
    background: 
        url(../img/body/first-bg.png) top 150px center no-repeat,
        
        url(../img/body/second-bg.png) top 100% center no-repeat;
        background-size: 100% 50%,
        100% 50%;
       
}

a {
    text-decoration: none;
    color: $fcolor1;
}

h2 {
    font-size: 72px;
    line-height: 120%;
}
