header{
    padding: 56px 4.44% 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    a{
        font: $font2;
    }
    .logo{
        font-weight: 600;

    }
    nav{
        display: flex;
        a{
            padding: 5px 10px;
        }
        a:nth-child(n+2){
            margin-left: 14px;
        }
        a:nth-last-child(1){
            background: $bgcolor1;
            border-radius: 4px;
            color: $fcolor2;
        }
        a.icon{
            display: none;
            font: $font2;
            
        }
    }
}
@media screen and (max-width: 900px) {
    #myTopnav > a:nth-last-child(n + 1) {
        display: none;
    }
    header nav a:nth-child(n+2) {
        margin-left: 0px;}
}
@media screen and (max-width: 900px) {
    .top-nav.responsive a {
        display: flex !important;
    }
    a.icon{
        display: flex !important;
        
        
    }
    .top-nav.responsive {
        flex-direction: column;
    }
}