.keeping {
    margin: 218px 12.01% 504px;
    max-width: 713px;
    h2 {
        margin-bottom: 40px;
    }
    p {
        margin-bottom: 16px;
        color: $fcolor3;

    }
    p:last-of-type{
        margin-bottom: 32px;
    }
    button {
        font: $font1;
        padding: 9px 18px;
        border-radius: 8px;
        outline: none;
        border: 2px solid $fcolor2;
        background-color: white;
    }
    a:first-of-type>button {
        background-color: $bgcolor1;
        border-color: $bgcolor1;
    }
    a:last-of-type>button{
        margin-left: 24px;
    }
}


@media screen and (max-width: 900px){
    .keeping{
        margin-bottom: 218px;
    }
    h2{
        font-size: 40px;
    }
}

@media screen and (max-width: 420px){
    .keeping{
        display: flex;
        flex-wrap: wrap;
a{
    flex-basis: 100%;
display: flex;
    button{margin-left: auto !important;
    margin-right: auto;}
    
}
a:last-of-type>button{
    
    margin-top: 20px;
}
    }
    

}