.non-profit {
    margin: 400px 12.01% 0;
    max-width: 713px;
    h2 {
        margin-bottom: 40px;
        color: $fcolor4;
    }
    p {
        margin-bottom: 16px;
        color: $fcolor5;

    }
    p:last-of-type{
margin-bottom: 32px;
    }
    button {
        font: $font1;
        padding: 9px 18px;
        border-radius: 8px;
        outline: none;
        border: 2px solid $bgcolor1;
        background-color: transparent;
    }
    a:first-of-type>button {
        background-color: $bgcolor1;
        color: $fcolor2;
    }
    a:last-of-type>button{
        margin-left: 24px;
        color: $fcolor4;
    }
}
@media screen and (max-width: 640px){
    .non-profit{
        margin-top: 200px;
    }
}